<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Cyber Movie Cinema</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/movie" href="#"
          >Movie <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/booking" href="#"
          >Booking <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <p *ngIf="currentUser">{{ currentUser.hoTen }}</p>
  </div>
</nav>

<router-outlet></router-outlet>

<footer><p style="background-color: red">footer</p></footer>
