<h1 class="text-center text-info">SignIn</h1>
<form [formGroup]="signForm" (ngSubmit)="handleSignIn()">
  <div class="form-group">
    <label for="taiKhoan">Tài Khoản</label>
    <input
      type="text"
      id="taiKhoan"
      class="form-control"
      formControlName="taiKhoan"
    />
    <app-errors-mes name="taiKhoan" [validator]="signForm.get('taiKhoan')"></app-errors-mes>
    <!-- <div class="alert alert-danger" *ngIf="signForm.get('taiKhoan').invalid &&(signForm.get('taiKhoan').touched || signForm.get('taiKhoan').dirty )">
        <span *ngIf="signForm.get('taiKhoan').errors.required">Tài Khoản Không được đẻ trống</span>
    </div> -->
  </div>
  <div class="form-group">
    <label for="matKhau">Mật KHẩu</label>
    <input
      type="password"
      id="matKhau"
      class="form-control"
      formControlName="matKhau"
    />
    <app-errors-mes name="matKhau" [validator]="signForm.get('matKhau')"></app-errors-mes>
    <!-- <div class="alert alert-danger" *ngIf="signForm.get('matKhau').invalid &&(signForm.get('matKhau').touched || signForm.get('matKhau').dirty )">
        <span *ngIf="signForm.get('matKhau').errors.required">Tài Khoản Không được đẻ trống</span>
        <span *ngIf="signForm.get('matKhau').errors.minlength || signForm.get('matKhau').errors.maxlength">Mật khẩu phải từ 3 - 20 kí tự</span>
    </div> -->
  </div>
  <button class="btn btn-success">Đăng Nhập</button>
</form>
