*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

.wrapper{
    width: 80% ;
    margin: 0 auto;
}
.wrapper-content{
    margin: 0 50px;
}
.clear{
    clear: both;
}

/* header */
.header{
    height: 60px;
   
}
.header-logo{
    float: left;
    width: 50%;
    position: relative;
    bottom: -18px;
    left: 100px;
}
.header-logo h1{
    font-size: 65px;
    font-weight: 500;
    color: #dc4312;
    margin: 0;
    line-height: 50px;
   

}
.header-logo p{
    font-size: 14px;
    font-weight: 600;
    color: #fdfcf8;
    text-transform: uppercase;
    margin: 0;
    padding-left: 15px;
    line-height: 0px;
    margin-top: 10px;
   
   
}
.header-menu{
    float: left;
    width: 50%;
    padding-left: 200px;
  
    height: 60px;
}
.header-menu a{
    text-decoration: none;
   color: #51c7ff;
   padding: 0 10px;
   font-size: 20px;
   line-height: 60px;
  

}
.header-menu a:first-child{
    color: #dc4312;
}
/* end header */

/* banner */
.banner-img{
    background-image: url(/images-layout1/banner.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: right;
    color: #323232;
    
}
.banner-img-content{
  position: relative;
  
}
.banner-img h1{
    font-size: 50px;
    font-weight: 500;
    background-color:#777e84 ;
   display: inline;
  word-spacing: 10px;
  letter-spacing: 5px;
  position: absolute;
  top: 200px;
  right: 150px;
  
}
.banner-img p:nth-child(2){
    background-color:#777e84 ;
    word-spacing: 10px;
    letter-spacing: 10px;
    display: inline;
    position: absolute;
    top: 300px;
    right: 150px;
    
}
.banner-img p:last-child{
    background-color:#777e84 ;
    word-spacing: 10px;
    letter-spacing: 10px;
    display: inline;
    position: absolute;
    top: 330px;
    right: 150px;
}
.banner-content{
    background-color: #29c0ff;
    padding: 30px 100px 50px 100px;
}
.banner-content h1{
    background-color:#72afc8 ;
    width: fit-content;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 20px;
}
.banner-content p{
    color: #b5d5de;
}
/* end banner */

/* intro */
.intro{

}
.intro-header{
    text-align: center;

}
.intro-header h1{
    font-weight: 500;
    font-size: 50px;
    margin: 20px 0;
}
.intro-header p{
    color: #9d989f;
   margin-bottom: 20px;
}

.intro-content-left{
    float: left;
    width: 50%;
}
.intro-content-right{
    float: left;
    width: 50%;
}
.intro-item img{
    width: 100%;
    height: 400px;
}
.intro-item-text{
  margin: 20px 0 30px 30px;
}
.intro-item-text h1{
 color: #dc4312;
 font-weight: 500;
 margin-left: -30px;
}
.intro-item-text p{
    color: #9d989f;
}
.intro-item-text span{
    color: #29c0ff;
    font-size: 30px;
    margin-left: 5px;
}
/* end intro */

/* product */
.product h1{
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
}
.product-right{
    float: left;
    width: 33.3%;
}
.product-center{
    float: left;
    width: 33.3%;
}
.product-left{
    float: left;
    width: 33.3%;
}
.product-item img{
    width: 100%;
}
/* end product */

/* service */
.service-header{
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
}
.service-content-left{
    float: left;
    width: 50%;
}
.service-item h1{
    font-weight: 500;
    margin: 20px 0;
}
.service-item p{
    color: #9d989f;
    padding-top: 5px;
}
.service-item span{
    color: #29c0ff;
    font-size: 20px;
    font-weight: 600;

    margin: 0 5px;
}
.service-content-right{
    float: left;
    width: 50%;
    position: relative;

}
.service-content-right img{
    width: 100%;
    height: 400px;
}
.service-item-content{
    position: absolute;
    top: 30px;
    left: 50px;
}
.service-item-content p{
    color: white;
    font-size: 24px;
    padding: 20px 0;
   
}
.service-item-content span{
    color: #29c0ff;
    font-size: 20px;
    font-weight: 600;
    padding: 0 20px;
}


/* end service */

/* footer */
.footer{
    background-color: #242424;
    height: 30vh;
    padding-top: 50px;
    margin-top: 50px;
}
.footer-nav{
    float: left;
    width: 30%;
    padding-left: 150px;
    
}
.footer-nav h1{
    font-size: 20px;
    color: white;
}
.footer-nav a{
    display: block;
    text-decoration: none;
    padding-top: 10px;
    color: #9d989f;
    margin-top: 10px;
}
.footer-info{
    float: left;
    width: 20%;
}
.footer-info h1{
    font-size: 20px;
    color: white;
}
.footer-info a{
    display: block;
    text-decoration: none;
    padding-top: 10px;
    color: #9d989f;
    margin-top: 10px;
}
.footer-Search{
    float: left;
    width: 25%;
}
.footer-Search h1{
    font-size: 20px;
    color: white;
}
.footer-Search a{
    display: block;
    text-decoration: none;
    padding-top: 10px;
    color: #9d989f;
    margin-bottom: 20px;
}
.footer-Search-button-sea span:first-child{
    
    background-color: #ffffff;
    color: #9d989f;
    padding: 5px 150px 5px 10px;
    border: 1px solid #a9a9a9;
}
.footer-Search-button-sea span:nth-child(2){
    color: white;
    background-color: #eb5424;
    padding: 5px 8px;
    border: 1px solid #eb5424;
    margin-left: -5px;
  
}
.footer-rel{
    float: left;
    width: 25%;
    padding-left: 50px;
}
.footer-rel h1{
 font-size: 50px;
 font-weight: 500;
 color: white;
 padding: 30px 0 10px 0;
}
.footer-rel p{
    color: #9d989f;
    line-height: 30px;
}
.footer-rel a{
    text-decoration: none;
    color: #eb5424;
}
/* end footer */