.ghe {
  width: 50px;
  height: 40px;
  background-color: none;
  border-radius: 5px;
  background-color: #5f5e5e;
  color: #fff;
  cursor: pointer;
  margin: 15px;
  outline: none;
}

.gheDaDat {
  background-color: red;
  cursor: no-drop;
}
.gheDangDat{
    background-color: rgb(105, 211, 123);
}