* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0px;
  background-color: rgba(41, 43, 44, 0.85);
}

.header__container__icon i {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  padding-right: 20px;
}

.header__container__icon i:hover {
  color: #7F67F8;
}

.header__container__phone {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

.header__nav {
  padding: 10px 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav h1 {
  font-size: 30px;
  color: #868c94;
  font-weight: 500;
}

.header__nav h1 span {
  font-size: 56px;
  color: #7F67F8;
  font-weight: 500;
}

.header__nav__list {
  text-decoration: none;
}

.header__nav__list a {
  font-size: 14px;
  color: #363d41;
  font-weight: 700;
  text-decoration: none;
  padding: 0px 15px;
}

.header__nav__list a.active {
  color: #7F67F8;
}

.header__nav__list a:hover {
  color: #7F67F8;
}

.carousel {
  background: rgba(0, 0, 0, 0.37);
  width: 100%;
  height: 700px;
}

.carousel__bg {
  background-image: url(../../images/b1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.carousel ol.carousel-indicators li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.carousel-item img {
  height: 700px;
  opacity: 0;
}

.carousel-caption {
  margin-bottom: 200px;
}

.carousel-caption h1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: 400;
  padding: 0px 50px;
}

.carousel-caption p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  margin: 30px 0px;
}

.carousel-caption button {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  font-size: 16px;
  padding: 5px 25px;
  outline: none;
}

.carousel-caption button:hover {
  background: #7F67F8;
  border: 2px solid #7F67F8;
}

.carousel-indicators {
  padding-bottom: 100px;
}

.carousel-control-prev-icon {
  display: none;
}

.carousel-control-next-icon {
  display: none;
}

.whatyou {
  text-align: center;
}

.whatyou h1 {
  margin-top: 50px;
  font-size: 48px;
  color: #2c363e;
  font-weight: 400;
}

.whatyou p {
  font-size: 15px;
  color: #868c94;
  font-weight: 400;
}

.whatyou__content {
  margin-top: 50px;
  border-top: 1px solid #e8e8e8;
  padding: 0px -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whatyou__content i {
  font-size: 48px;
  color: #F97C69;
  font-weight: 700;
}

.whatyou__content h5 {
  font-size: 24px;
  color: #2c363e;
  font-weight: 700;
  margin: 20px 0px;
}

.whatyou__content__item {
  padding: 0px 40px;
  border-right: 1px solid #e8e8e8;
  margin: 50px 0px;
}

.whatyou__content__item.active {
  border: none;
}

.contact {
  background-image: url(../../images/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact__content {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__content h1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: 400;
}

.contact__content button {
  color: #ffffff;
  background-color: #7F67F8;
  border: 0 solid #7F67F8;
  font-size: 16px;
  padding: 10px 30px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.contact__content button:hover {
  background-color: #F97C69;
}

.stats {
  text-align: center;
}

.stats h1 {
  margin-top: 50px;
  font-size: 40px;
  color: #2c363e;
  font-weight: 500;
}

.stats p {
  margin-top: 20px;
  font-size: 15px;
  color: #868c94;
  font-weight: 400;
}

.stats__content {
  margin: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.stats__content__item h2 {
  font-size: 56px;
  color: #F97C69;
  font-weight: 700;
}

.stats__content__item h5 {
  margin-top: 20px;
  font-size: 20px;
  color: #2c363e;
  font-weight: 700;
}

.services {
  background-image: url(../../images/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
  text-align: center;
}

.services h1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: 400;
  margin: 20px 0px;
}

.services p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
}

.services__content {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__content__item {
  background-color: #F97C69;
  padding: 20px;
}

.services__content__item i {
  margin: 20px 0px;
  font-size: 48px;
  color: #ffffff;
  font-weight: 700;
}

.services__content__item h5 {
  margin: 30px 0px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
}

.services__content__item__primary {
  background-color: #ffffff;
}

.services__content__item__primary i {
  font-size: 48px;
  color: #F97C69;
  font-weight: 700;
}

.services__content__item__primary h5 {
  font-size: 24px;
  color: #2c363e;
  font-weight: 400;
}

.services__content__item__primary p {
  font-size: 15px;
  color: #2c363e;
  font-weight: 400;
}

.team {
  text-align: center;
}

.team h1 {
  margin-top: 50px;
  font-size: 48px;
  color: #2c363e;
  font-weight: 400;
}

.team p {
  font-size: 16px;
  color: #474747;
  font-weight: 400;
  margin-bottom: 50px;
}

.team img {
  margin-bottom: 50px;
}

.footer {
  background-color: #0b0c11;
  margin-bottom: 50px;
}

.footer h2 {
  font-size: 27px;
  color: #F97C69;
  font-weight: 400;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__container__item {
  margin: 50px;
}

.footer__container__item__1 p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  margin: 50px 0px;
}

.footer__container__item__1-input {
  padding: 0px 0px 0px 10px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.footer__container__item__1-input input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffffff;
}

.footer__container__item__1-input button {
  padding: 15px 20px;
  color: #ffffff;
  background-color: #7F67F8;
  border: none;
  outline: none;
}

.footer__container__item__2 a {
  text-decoration: none;
  display: block;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  padding: 10px 0px;
}

.footer__container__item__3 {
  position: relative;
}

.footer__container__item__3 h2 {
  margin-bottom: 50px;
}

.footer__container__item__3 p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px;
}

.footer__container__item__3 p i {
  font-size: 15px;
  color: #F97C69;
  font-weight: 400;
}

.footer__end {
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #292b2c;
  text-align: center;
}

.footer__end p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

.footer__end p a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.footer__end p a:hover {
  color: #F97C69;
  border-bottom: 1px solid #F97C69;
}

.footer__end img {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
/*# sourceMappingURL=index.css.map */