@function bg($color){
    @if (map-has-key($map:$background  , $key:$color )) {
        @return map-get($map:$background , $key:$color);
    }
     
  
}

@function spacing($scale){
    @return $scale * $spacing ;
}

// bg('primary') => #ffffff