//mixin
@mixin Text($fs, $color, $fw) {
  font-size: $fs;
  color: $color;
  font-weight: $fw;
}

@mixin Button($bg, $boder,$boder-rs,$width,$height) {
  background-color: $bg;
  border: $boder;
  border-radius:$boder-rs ;
  width: $width;
  height: $height;
  margin-right: 10px;

  
}