//Create theme
//backgroud_color
$background:(
    "primary":#ffffff,
    "secondary":#0f7c90,
    "yellow":#ffe799,
    "light":#fbfbf8,
    "gray":#989586,
);



// $bgPrimary: #ffffff;
// $bgSecondary: #0f7c90;
// $bgYellow: #ffe799;
// $bgLight: #fbfbf8;
// $bgGray: #989586;

//textcolor

// $textColor(

// );

$textPrimary: #3c3b37;
$textSecandary: #0f7c90;
$textYellow: #be5a0e;
$textWhite: #ffffff;

// Fontsize

$h1: 48px;
$h2: 40px;
$h3: 30px;
$h4: 24px;
$h5: 18px;
$h6: 16px;
$subtitle1: 14px;
$subtitle2: 12px;
$body1: 10px;
$body2: 9px;

//Font weights
$fwBlack : 900;
$fwMedium: 500;
$fwRegular: 400;
$fwLight: 300;

// Spacing
$spacing: 10px;
