@function bg($color){
    @if (map-has-key($map:$background , $key:$color )) {
        @return map-get($map:$background , $key:$color);
    }
  
}

@function textcolor($textcolor){
    @if (map-has-key($map:$textColor , $key:$textcolor )) {
        @return map-get($map:$textColor , $key:$textcolor);
    }
     
  
}

@function spacing($x, $y:null){
    @if ($y==null) {
        @return $x * $spacing;
    }
    @return $x * $spacing $y *$spacing;
}


// bg('primary') => #ffffff
