@mixin Text($fs, $color, $fw) {
    font-size: $fs;
    color: $color;
    font-weight: $fw;
  }

  @mixin buttonBlog($color,$bg,$br,$fz) {
    color:$color;
    background-color:$bg;
    border:$br;
    font-size: $fz;

  }
