<div class="row">
  <div *ngFor="let product of productList" class="col-sm-4">
    <app-product-item
      (onAddToCart)="handleAddToCart($event)"
      [product]="product"
    ></app-product-item>
  </div>
</div>
