/* You can add global styles to this file, and also import other style files */
.demo {
  color: yellow;
}
html,
body {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty {
  border-left: 5px solid red;
}
input.ng-valid,
input.ng-valid {
  border-left: 5px solid blue;
}
