* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
.wrapper{
    width: 80% ;
    margin: 0 auto;
}

/* header */
.header {
  margin-bottom: 10px;
}
.header img {
  width: 200px;
}
/* end header */

/* navbar */
.navbar ul {
  list-style-type: none;
  background-color: #000000;
  height: 45px;
}
.navbar ul li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;

  /* the inline chi duoc margin right left  */
}
.navbar ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  line-height: 45px;
}

/* end navbar */

/* carosel */

.carousel {
  height: 500px;
  margin-top: 10px;
  background-image: url(../images/slider_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /*backround baralax */
}

/* .carousel img{
    width: 100%;
} */

/* end carousel */

/* intro */
.introduction p{
    margin: 10px 0;
}
.introduction p span{
    color: crimson;
}
.introduction-left,.introduction-right{
    float: left;
    width: 50%;
}
.introitem-50{
    float: left;
    width: 50%;
}
.introduction-item img{
    width: 100%;
    display: block;
}
.introduction-item{
    padding: 10px;
}
.introduction-content{
    margin: 0 -10px;
}
.clear{
    clear: both;
}
/* end intro */

/* product */

 /* dau > con truc tiep cua thang cha */
.product > h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500;
    margin: 10px 0;
}
.product-list{
    margin:0 -10px;
}   
.product-item{
    float: left;
    width: 25%;
    padding: 0 10px;
    
}
.product-item img{
    width: 100%;   
}
.product-item h1{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}
.product-item p{
    font-size: 14px;
    margin: 5px 0;
    word-spacing: 3px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}
.product-item a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #fe3e41;
    border-radius: 5px;
    color: white;
}
/* end product */

/* banner */
.banner{
    margin-top: 30px;
    position: relative;
}
.banner > img{
    
    width: 100%;
}

.banner-content{
    width: 300px;
    height: 300px;
    background-color:rgba(92, 14, 14, 0.5);
    border-radius: 150px;
    text-align: center;
    color: white;
    padding-top: 50px;
    /* transform: translate(150%,-150%); */
    position: absolute;
    bottom: 150px;
    left: 450px;
    
}
.banner-content p:first-child{
   font-size: 35px;
   margin: 0;
   
}
.banner-content p:nth-child(2){
    font-size: 70px;
    margin:10px 0;
    font-weight: 600;
}
.banner-content p:last-child{
    font-size: 20px;
    margin: 0;
    line-height: 30px;
}


/* end banner */

/* service */
.service-content{
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}
.service-content h1{
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
}
.service{
    margin: -10px;
}
/* end service */

/* footer */
.footer{
   
}
.footer-content{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
    padding-bottom: 30px;
}
.footer-content h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-content p{
    margin: 0;
    line-height: 5px;
    font-size: 20px;
}
/* end footer */

