<!-- imterpolation
<p>{{ messages }}</p>
<input value="{{ messages }}" />
<!-- property binding -->
<!-- <input [value]="messages" /> messages là một biến -->

<input [value]="messages" />

<button class="btn btn-primary" [disabled]="isDisabled">Click</button>

<br />
<br />
<br />

<p>{{ fullName }}</p>
<!-- event binding -->
<input type="text" [value]="fullName" (change)="changeFullName($event)" />

<p>{{ userName }}</p>
<!-- gán trưc tiêp  -->
<input
  type="text"
  [value]="userName"
  (input)="userName = $event.target.value"
/>

<!-- <p>Email: {{ email }}</p>
<!-- kích button -->
<input id="email" type="text" [value]="email" />
<buton class="btn btn-info" (click)="changeEmail()">Gửi</buton> -->

<p>Email: {{ email }}</p>
<!-- kích button -->
<input id="email" type="text" [value]="email" #emailRef />
<buton class="btn btn-info" (click)="changeEmail(emailRef)">Gửi</buton>

<!-- two-way-binding -->
<p>{{ address }}</p>
<input type="text " [(ngModel)]="address" /> -->
