.carousel {
  background: rgba(0, 0, 0, 0.37);

  width: 100%;
  height: 700px;
  &__bg {
    background-image: url(../../images/b1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  & ol.carousel-indicators li {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  &-item {
    img {
      height: 700px;
      opacity: 0;
    }
  }
  &-caption {
    margin-bottom: spacing(20);
    h1 {
      
      @include Text($h2, textcolor("primary"), $fwRegular);
      padding:spacing(0) spacing(5)
    }
    p {
      @include Text($subtitle3, textcolor("primary"), $fwRegular);
      margin: spacing(3) spacing(0);
    }

    button {
      @include buttonBlog(
        textcolor("primary"),
        transparent,
        2px solid textcolor("primary"),
        $subtitle2
      );
      padding: spacing(0.5) spacing(2.5);
      outline: none;

      &:hover {
        background: bg("lavender");
        border: 2px solid bg("lavender");
      }
    }
  }
  &-indicators {
    padding-bottom: spacing(10);
  }

  &-control-prev-icon {
    display: none;
  }
  &-control-next-icon {
    display: none;
  }
}
