.contact{
   // background: rgba(0, 0, 0, 0.37);
    background-image: url(../../images/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    &__content{
        padding:spacing(5) spacing(0);
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1{
            @include Text($h2, textcolor("primary"), $fwRegular);
        }
        button{
            @include buttonBlog(
                textcolor("primary"),
                bg('lavender'),
                0 solid textcolor("lavender"),
                $subtitle2
              );

              padding: spacing(1) spacing(3);
              transition: all 0.6s;

              &:hover{
                  background-color: bg('secondary');
                 
              }
        }
    }
}