.footer{
    background-color:bg('bgblack');
    margin-bottom: spacing(5);
    h2{
        @include Text($h5, textcolor("secondary"), $fwRegular);
    }
    &__container{
    
        display: flex;
        &__item{
            margin:spacing(5);
            &__1{
                p{
                    @include Text($subtitle3, textcolor("primary"), $fwRegular);
                    margin: spacing(5) spacing(0);
                   
                }
                &-input{
                   padding: spacing(0) spacing(0) spacing(0) spacing(1);
                    background-color: red;
                   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid bg('primary');
                    background-color: transparent;
                    input{
                        flex-grow: 1;
                        background-color: transparent;
                        outline: none;
                        border: none;
                        color: textcolor('primary');
                    }
                    button{
                        padding: spacing(1.5) spacing(2);
                        color: bg('primary');
                        background-color: bg('lavender');
                        border:none;
                        outline: none;
                    }
                }
            }

            &__2{
              
              
                a{
                    text-decoration: none;
                    display: block;
                    @include Text($subtitle3, textcolor("primary"), $fwRegular);
                    padding: spacing(1) spacing(0);
                    
                }


            }

            &__3{
                position: relative;
                h2{
                    margin-bottom: spacing(5);
                }
              p{
                @include Text($subtitle3, textcolor("primary"), $fwRegular);
                padding: spacing(0.5);
                i{
                    @include Text($subtitle3, textcolor("secondary"), $fwRegular);
                }
              }
            
            }


          
           
        }

    }
    &__end{
        
        padding-top: spacing(1.5);
        padding-bottom: spacing(0.5);
        background-color: bg('grey');
        text-align: center;
        p{
            @include Text($subtitle2, textcolor("primary"), $fwMedium);
            a{
                text-decoration: none;
                color:textcolor('primary') ;
                border-bottom:1px solid textcolor('primary');
                &:hover{
                    color:textcolor('secondary') ;
                border-bottom:1px solid textcolor('secondary');
                }
            }
        }

        img{
            position: fixed;
            bottom: 50px;
            right: 50px;
         }

    }
}