.header{
    &__container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding:spacing(1.2) spacing(0);
        background-color:rgba($color:  bg('grey'), $alpha: 0.85);
        &__icon{
            
           i{
            @include Text($subtitle2,textcolor('primary'), $fwRegular) ;
            padding-right: spacing(2);
            &:hover{
                color: textcolor('lavender');
            }
           }
        }
        &__phone{
            @include Text($subtitle2,textcolor('primary'), $fwRegular) ;
        }
    }

    &__nav{
        padding: spacing(1) spacing(11);
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1{
            @include Text($h4,textcolor('gray'), $fwMedium) ;
            span{
                @include Text($h1,textcolor('lavender'), $fwMedium) ;
            }
        }
        &__list{
            text-decoration: none;
            a{
                @include Text($body1,textcolor('grays'), $fwBoll) ;
                text-decoration: none;
                padding:spacing(0) spacing(1.5);
                &.active{
                    color: textcolor('lavender');
                }
                &:hover{
                    color: textcolor('lavender');
                }
            }
        }
    }
}   