.services{
    background-image: url(../../images/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: spacing(5) spacing(0);
    text-align: center;
    h1{
        @include Text($h2, textcolor("primary"), $fwRegular);
        margin: spacing(2) spacing(0);
    }
    p{
        @include Text($subtitle3, textcolor("primary"), $fwRegular);
     
    }


    &__content{
        
        padding: spacing(5) spacing(0);
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &__item{
            background-color: bg('secondary');
            padding: spacing(2);
           
            i{
                margin: spacing(2) spacing(0);
                @include Text($h2   , textcolor("primary"), $fwBoll);
            }
            h5{
                margin: spacing(3) spacing(0);
                @include Text($h6  , textcolor("primary"), $fwRegular);
            }
            &__primary{
                background-color: bg('primary');

                i{
                  
                    @include Text($h2   , textcolor("secondary"), $fwBoll);
                }
                h5{
                    @include Text($h6  , textcolor("balck"), $fwRegular);
                }
                p{
                    @include Text($subtitle3, textcolor("balck"), $fwRegular);
                   
                }
              
            }
          
        }
    }
}