.stats{
    
    text-align: center;
    h1{
        margin-top: spacing(5);
        @include Text($h3, textcolor("balck"), $fwMedium);
    }
    p{
        margin-top: spacing(2);
        @include Text($subtitle3, textcolor("gray"), $fwRegular);
    }
    &__content{
        margin: spacing(5) spacing(0);
        display: flex;
        align-items: center;
        justify-content: space-around;
        &__item{
            h2{
                @include Text($h1, textcolor("secondary"), $fwBoll);
            }
            h5{
                margin-top: spacing(2);
                @include Text($subtitle1, textcolor("balck"), $fwBoll);
            }
        }
    }
}