.team{
  
    text-align: center;
    h1{
        margin-top: spacing(5);
        @include Text($h2, textcolor("balck"), $fwRegular);
    }   
    p{
        @include Text($subtitle2, textcolor("grey"), $fwRegular);
        margin-bottom: spacing(5);
    }
    img{
        margin-bottom: spacing(5);
    }
    
    
}