.whatyou {
  text-align: center;
  h1 {
    margin-top: spacing(5);
    @include Text($h2, textcolor("balck"), $fwRegular);
  }
  p {
    @include Text($subtitle3, textcolor("gray"), $fwRegular);
  }

  &__content {
    margin-top: spacing(5);
    border-top: 1px solid bg("light");
   
    padding: spacing(0) spacing(-5);
    display: flex;
    align-items: center;
    i {
      @include Text($h2, textcolor("secondary"), $fwBoll);
    }
    h5 {
      @include Text($h6, textcolor("balck"), $fwBoll);
      margin: spacing(2) spacing(0);
    }
    &__item {
      padding: spacing(0) spacing(4);
      border-right: 1px solid bg("light");
      margin: spacing(5) spacing(0);
      &.active {
        border: none;
      }
    }
  }
}
