* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 20px;
}

.header__content h1 {
  font-size: 56px;
  color: #ffffff;
  font-weight: 400;
}

.header__content h1 span {
  color: #00cdce;
}

.header__content__nav a {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  padding: 10px 20px;
  border-bottom: 2px solid #ffffff;
  margin-left: 20px;
  text-decoration: none;
}

.header__content__nav a:hover {
  color: #00cdce;
  border-bottom: none;
}

.header__arrou {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  right: 0;
}

.carousel {
  position: relative;
  top: -40px;
  margin-top: 40px;
}

.carousel-item img {
  margin: 0 auto;
}

.carousel ol.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.carousel-caption {
  margin-bottom: 15%;
}

.carousel-caption h5 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 500;
}

.carousel-caption p {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
}

.about {
  text-align: center;
}

.about h1 {
  font-size: 56px;
  color: #000000;
  font-weight: 500;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.about__content__item {
  color: #7f7777;
}

.about__content__item i {
  color: #000000;
  border: 1px solid #000000;
  padding: 35px;
  border-radius: 50%;
  font-size: 28px;
  margin: 20px 0px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.about__content__item i:hover {
  background-color: #00cdce;
  color: #ffffff;
}

.about__us {
  color: #474747;
  margin-bottom: 50px;
}

.about__us h1 {
  color: #00cdce;
  font-size: 28px;
  font-weight: 500;
}

.stats {
  background-color: #00cdce;
  padding: 50px 0px;
}

.stats h1 {
  font-size: 56px;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

.stats__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats__content__item {
  margin: 20px 80px;
  text-align: center;
}

.stats__content__item h1 {
  font-size: 56px;
  color: #ffffff;
  font-weight: 400;
}

.stats__content__item p {
  font-size: 28px;
  color: #000000;
  font-weight: 400;
}

.blog {
  margin: 50px 0px;
}

.blog h1 {
  text-align: center;
  font-size: 56px;
  color: #000000;
  font-weight: 500;
  margin: 40px;
}

.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__content__item {
  border-top: 5px solid #00cdce;
  background-color: #EFEFEF;
  margin: 0px 20px;
}

.blog__content__item__spacing {
  margin: 20px;
}

.blog__content__item h5 {
  font-size: 21px;
  color: #00cdce;
  font-weight: 500;
}

.blog__content__item h5:hover {
  color: #000000;
}

.blog__content__item p {
  font-size: 15px;
  color: #474747;
  font-weight: 400;
}

.blog__content__item button {
  color: #00cdce;
  background-color: #000000;
  border: 1px solid #000000;
  font-size: 19px;
  padding: 5px 20px;
  outline: none;
}

.blog__content__item button:hover {
  color: #ffffff;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video__play {
  width: 120%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url(../../images/img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__play i {
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
  background-color: #00cdce;
  border-radius: 50%;
  cursor: pointer;
}

.video__content {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: center;
  background-color: #00cdce;
}

.video__content h1 {
  font-size: 42px;
  color: #000000;
  font-weight: 500;
  margin: 50px 0px;
}

.video__content p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  margin: 50px 0px;
  padding: 0px 50px;
}

.video__content button {
  color: #00cdce;
  background-color: #000000;
  border: 1px solid #000000;
  font-size: 19px;
  padding: 5px 20px;
  margin-bottom: 50px;
  outline: none;
}

.video__content button:hover {
  color: #ffffff;
}

.portfolio {
  text-align: center;
}

.portfolio h1 {
  margin: 50px 0px;
  font-size: 56px;
  color: #000000;
  font-weight: 500;
}

.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.portfolio__content__item {
  margin: 10px;
}

.subscribe {
  background-color: #00cdce;
  text-align: center;
  padding: 50px 0px;
}

.subscribe .subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe .subscribe__content h1 {
  font-size: 56px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 50px;
}

.subscribe .subscribe__content p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 20px;
}

.subscribe .subscribe__content__email {
  width: 600px;
  background-color: #ffffff;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .subscribe__content__email input {
  border: none;
  outline: none;
  padding: 10px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #000000;
}

.subscribe .subscribe__content__click {
  margin-top: 50px;
}

.subscribe .subscribe__content__click button {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  font-size: 24px;
  padding: 5px 50px;
}

.subscribe .subscribe__content__click button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  font-size: 24px;
}

.team {
  text-align: center;
  margin-bottom: 50px;
}

.team h1 {
  font-size: 56px;
  color: #000000;
  font-weight: 500;
  margin: 50px 0px;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__content__item {
  margin: 20px;
}

.team__content__item__caption {
  background-color: #363636;
}

.team__content__item__caption h5 {
  font-size: 21px;
  color: #00cdce;
  font-weight: 500;
  padding-top: 20px;
}

.team__content__item__caption h5:hover {
  color: #ffffff;
}

.team__content__item__caption p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
}

.team__content__item__caption i {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px;
  border: 2px solid #ffffff;
  margin: 0px 10px 10px 10px;
}

.team__content__item__caption i:hover {
  background-color: #00cdce;
}

.ggmap {
  padding: 10px;
}

.contact {
  margin-bottom: 50px;
}

.contact h1 {
  font-size: 56px;
  color: #000000;
  font-weight: 500;
  text-align: center;
  margin: 50px 0px;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__content__item__input {
  margin-right: 40px;
}

.contact__content__item__input input {
  width: 400px;
  height: 40px;
  background-color: #EFEFEF;
  outline: none;
  border: none;
  border-bottom: 3px solid #474747;
  padding-left: 10px;
  margin-bottom: 25px;
}

.contact__content__item textarea {
  width: 400px;
  height: 180px;
  background-color: #EFEFEF;
  outline: none;
  border: none;
  border-bottom: 3px solid #474747;
}

.contact__content__item button {
  margin-top: 10px;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  font-size: 16px;
  width: 400px;
  height: 40px;
}

.contact__content__item button:hover {
  color: #000000;
  background-color: #00cdce;
  border: 1px solid #00cdce;
  font-size: 16px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  background-color: #00cdce;
}

.footer__caption {
  margin-top: 20px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
}

.footer__icon i {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px;
  border: 2px solid #ffffff;
  margin: 0px 10px 10px 10px;
}

.footer__icon i:hover {
  color: #474747;
}

.footer__arrou {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
/*# sourceMappingURL=index.css.map */