/* Desktop first */
/* type:screen ,print,speech, all */

/* @media type and(max-witdh:px){

} */

h1 {
  background-color: red;
}

@media screen and (max-width: 1200px) {
  h1 {
    background-color: rosybrown;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    background-color: salmon;
  }
}

/* mobie first */
h2{
    background-color: skyblue;
}

@media screen and (min-width:576px){
    h2{
        background-color: tomato;
    }
}
@media screen and (min-width:992px){
    h2{
        background-color: yellow;
    }
}

@media screen and (min-width:900px) and (max-width:1000px){
    h2{
        background-color: darkblue;
    }
}