<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <div class="text-center">
                <a routerLink="signin" class="mr-4">Signin</a>
                <a routerLink="signup" class="mr-4">signup</a>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>