* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}
.clear {
  clear: both;
}

/* header */

.header {
  color: #999999;
  height: 80px;
}
.header p {
  display: inline;
  line-height: 80px;
  padding-left: 900px;
}

.header h1 {
  display: inline;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: 20px;
  left: 100px;
}
.header h1 span {
  font-size: 35px;
  color: black;
  font-weight: 600;
}
/* end header */

/* navbar */
.navbar {
  padding: 10px 0;
  padding-left: 800px;
}
.navbar-menu,
.navbar-icon {
  display: inline;
  color: #2f2f2f;
  font-size: 20px;
  font-weight: 600;
}
.navbar-menu a {
  text-decoration: none;
  padding-left: 20px;
}
.navbar-menu a:hover {
  color: brown;
}
.navbar-icon a {
  text-decoration: none;
  padding-left: 5px;
}
.navbar-icon {
  margin-left: 50px;
}
/* end navbar */

/* carousel */
.carousel {
  background-image: url(./images-layout2/1.jpg);
  height: 65vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
  position: relative;
}
.carousel-content {
  padding-top: 150px;
}
.carousel p {
  font-weight: 500;
  padding-top: 10px;
}
.carousel p:first-child {
  padding: 2px 0;
}
.carousel h1 {
  font-size: 60px;
  font-weight: 700;
  padding: 20px 0;
}
.carousel p:nth-child(5) {
  padding-bottom: 40px;
}
.carousel span {
  background-color: #82b62d;
  padding: 7px 20px;
  border: 1px solid #8aa263;
  margin-top: 20px;
}
.carousel img {
  position: absolute;
  right: 20px;
  bottom: -10px;
  width: 50px;
}

/* end carousel */

/* intro */
.intro {
  padding: 0 70px;
}

.intro h1 {
  color: #424242;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  padding: 50px 0 30px 0;
}
.intro-content1-left {
  float: left;
  width: 60%;
  color: #999999;
}
.intro-content1-left p:first-child {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}
.intro-content1-left p {
  padding: 15px 50px 10px 0;
}
.intro-content1-left span {
  color: white;
  background-color: #82b62d;
  padding: 7px 20px;
  border: 1px solid #8aa263;
  margin-top: 40px;
}
.intro-content1-left p:nth-child(3) {
  margin-bottom: 50px;
}

.intro-content1-right {
  float: left;
  width: 40%;
}

.intro-content1-right img {
  width: 100%;
}

/* contet2 */
.intro-content2-right {
  float: left;
  width: 60%;
  color: #999999;
  padding-left: 40px;
}
.intro-content2-left img {
  width: 100%;
}

.intro-content2-left {
  float: left;
  width: 40%;
}

.intro-content2-right p:first-child {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}
.intro-content2-right p {
  padding: 15px 50px 10px 0;
}
.intro-content2-right span {
  color: white;
  background-color: #82b62d;
  padding: 7px 20px;
  border: 1px solid #8aa263;
  margin-top: 40px;
}
.intro-content2-right p:nth-child(3) {
  margin-bottom: 50px;
}

/* end intro */

/* service */
.service {
  background-color: #f0f5f8;
  height: 80vh;
  
  margin-top: 50px;
  position: relative;
  padding: 0 100px;

 
}
.service img {
  position: absolute;
  right: 30px;
  top: 48%;
  width: 50px;
}
.service h1:first-child {
  font-size: 50px;
  font-weight: 500;
  color: #424242;
  text-align: center;
  padding: 50px 0;
}
.service-item {
  float: left;
  width: 33.3%;
  text-align: center;
  margin: 50px 0;
  padding: 0 20px;
}
.service-item span {
  font-size: 35px;
  color: #8aa263;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #f0f5f8;
}
.service-item p {
  color: #999999;
}
.service-item h1 {
  font-size: 24px;
  font-weight: 600;
  padding: 40px 0 20px 0;
  color: #26323a;
}
/* end service */

/* product */


.product h1:nth-child(1) {
  font-size: 50px;
  font-weight: 500;
  color: #424242;
  text-align: center;
  padding: 50px 0;
  margin-top: 50px;
}
.product-content-left {
  float: left;
  width: 40%;
  
}
.product-content-left img {
  width: 100%;
}
.product-content-right {
  float: left;
  width: 60%;
  position: relative;
}
.product-content-right a {
  text-decoration: none;
  color: #424242;
  font-size: 20px;
  font-weight: 500;
  padding: 0 50px 0 20px;
}
.product-content-right h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  padding: 60px 0 50px 60px;
}
.product-content-right span:nth-child(4){
    color: white;
    background-color: #82b62d;
    padding: 7px 20px;
    border: 1px solid #8aa263;
    margin-left: 30px;
    
}
.product-content-right img{
    position: absolute;
    right:30px;
    top:48%;
    width: 50px;
}

.product-sreach{
    background-image: url(./images-layout2/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    margin-top: 50px;
   

}
.product-sreach p{
    font-size: 50px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 80px 0;
}
.product-sreach a{
    text-decoration: none;

}
.product-sreach a:nth-child(2){
    color: #999999;
    padding: 15px 350px 15px 10px;
    background-color: white;
    margin-left: 500px;
    border: 1px solid f0f5f8;
}
.product-sreach a:nth-child(3){
    color: white;
    background-color:#82b62d ;
    padding: 15px 20px;
    border: 1px solid #8aa263;
}
.product-sreach img{
    margin-left: 475px;
    width: 50px;
    
}




/* end product */

/* footer */
.footer{
    margin-top: 80px;
    padding: 0 100px;
}
.footer-his{
    float: left;
    width: 30%;
}
.footer-his p{
    padding: 10px 0;
}
.footer-posts{
    float: left;
    width: 30%;
    padding-left: 20px;
}
.footer-posts p{
    padding: 5px 0;
}
.footer-even{
    float: left;
    width: 20%;
    padding-left: 20px;
}
.footer-even p{
    padding: 5px;
}
.footer-even span{
    color: #000;
   
}
.footer-nav{
    float: left;
    width: 20%;
}
.footer-nav li {
   list-style-type: none;
    padding: 5px 0 5px 20px;
  
}
.footer-nav li a{
    text-decoration: none;
    color: #2e2e29;
    font-weight: 600;
}
.footer h1{
    font-size: 24px;
    
}
.footer p{
    color: #969695;
    font-weight: 600;
}
.fooder-end{
    background-color: #0f1215;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}
.fooder-end span{
    color: #82b62d;
}
.fooder-end img{
position: absolute;
top: 15px;
right: 30px;
width: 50px;
}
/* end footer */