<div class="container-fluid">
  <h1 class="text-center text-info">Bài tập đặt ghế</h1>
  <div class="row text-center">
    <div class="col-8">
      <h3 class="btn btn-info text-center">Danh sách ghế</h3>

      <div class="">
        <app-ghe
          (eventDatGhe)="datGhe($event)"
          [inputGhe]="ghe"
          *ngFor="let ghe of mangGhe; let i = index"
        >
          <br *ngIf="(i + 1) % 4 === 0" />
        </app-ghe>
      </div>
    </div>

    <div class="col-4">
      <h3>Danh sách ghế đang đặt</h3>
      <p *ngFor="let gheDangDat of mangGheDangDat" class="my-1">
        {{ gheDangDat.SoGhe }} - {{ gheDangDat.Gia }} $
        <span class="btn btn-danger" (click)="huyGhe(gheDangDat.SoGhe)"
          >Hủy</span
        >
      </p>
      <hr>
      <p>Tổng tiền : {{tinhTongTien()}}</p>
    </div>
    </div>
  </div>

