<div class="d-flex">
    <div class="w-25">
        <h1>Cyber Cinnema</h1>

        <p>
            <a routerLink="/admin/users">Users</a>
        </p>

        <p>
            <a routerLink="/admin/movies">Movies</a>
        </p>
    </div>

    <div class="w-75">
        <router-outlet></router-outlet>
    </div>
</div>
