//Create theme
//backgroud_color
// $background:(
//     "primary":#ffffff,
//     "secondary":#F97C69,
//     "balck":#000000,
//     "lavender":#7F67F8,
//     "light":#fbfbf8,
//     "gray":#989586,
// );

$background: (
  "primary": #ffffff,
  "secondary": #F97C69,
  "yellow": #ffe799,
  "light": #e8e8e8,
  "grey": #292b2c,
  "black":rgb(44, 54, 62),
  "bgblack":#0b0c11,
  "lightgrey":#EFEFEF,
  "lavender":#7F67F8,
);

$textColor:(
    "primary":#ffffff,
    "secondary":#F97C69,
    "balck":#2c363e,
    "gray":#868c94,
    "grey": #474747,
    "lavender":#7F67F8,
    "grays":#363d41
    
);

// Fontsize

$h1: 56px;
$h2: 48px;
$h3: 40px;
$h4: 30px;
$h5: 27px;
$h6: 24px;
$subtitle1: 20px;
$subtitle2: 16px;
$subtitle3: 15px;
$body1: 14px;
$body2: 9px;


//Font weights
$fwBoll: 700;
$fwMedium: 500;
$fwRegular: 400;
$fwLight: 300;


// Spacing
$spacing: 10px;