<!-- loading -->
<div class="" *ngIf ="loading">
    <!--  -->
    <!-- <app-laodung> -->
        <p>...Loading</p>
</div>

<!-- error -->
<div class="" *ngIf="error" class="alert-danger">
    {{error}}
</div>

<!-- data -->
<div *ngIf="movieDetail" class="container">
    <div class="row">
        <div class="col-6">
            <img [src]="movieDetail.hinhAnh" alt="movie" style="width: 300px;height: 300px;">
            
        </div>
        <div class="col-6">
            <!-- pipe -->
            <h1>{{movieDetail.tenPhim | lowercase}}</h1>
            <p>{{movieDetail.ngayKhoiChieu | date:'dd/MM/yyyy hh:mm:ss' }}</p>
            <p>{{ 0.5 | percent }}</p>
            <p>{{ 3000  |currency:'VND' }}</p>
            <p>{{movieDetail.moTa |shortcut}}</p>
            <!-- pipe:keyvalue -->
            <p *ngFor="let item of obj | keyvalue">
                {{item.key}}-{{item.value}}
            </p>

            <!-- pipe :slice -->
            <p *ngFor="let num of [1,2,3,4,5,6,7,8,9,10] |slice:0:5">
                {{num}}
            </p>
        </div>
    </div>
</div>

