.cart {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  // background: cornsilk;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  // background-image: url(./img/1764.jpg);
  // background-repeat: no-repeat;
  // background-position: center ;
  // background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background-color: #ffeedd;
    height: 800px;

    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
    &__product {
      min-height: 800px;
      background: #ecf0f1;
      color: #868583;
      position: relative;

      h1 {
        color: #464541;
      }
      &__item {
          transition: 0.3s;
        &__cont {
          background-color: #e5e9ea;
          padding: 10px;
          margin-left: 20px;
          box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
          transition: .3s;
          &:hover{
              background: #ced4da;
              color: #6c757d;
              cursor: pointer;
          }
        }
      }
      &__price {
        position: absolute;
        bottom: 100px;
        width: 80%;
        left: 50px;
      }
    }
    &__Details{
        padding: 0;
        background-color: #4B4340;
        display: grid;
        grid-template-rows:5fr 1fr;
        box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
        &__content{
            width: 80%;
            margin: 0 100px;
           
            &__tittle{
                color: #F1C40F;
                margin: 100px 0;
            }
        }
        &__checkout{
            background-color: #F1C40F;
            transition: .3s;
            &:hover{
                background: #fcf300;
                color: #260701;
                cursor: pointer;
            }  
          
            
        }
    }
  }


}
.input__them__bot {
  position: relative;
}
.increase__product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: #868583;
  border-radius: 50%;
  color: white;
  margin: 0;
  position: absolute;
  top: -35px;
  left: 40px;
  transition: 0.3s;
}
.product__reduction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: #868583;
  border-radius: 50%;
  color: white;
  margin: 0;
  position: absolute;
  top: 15px;
  left: 40px;
  transition: 0.3s;
}
.product__reduction:hover {
  box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
  background: #464541;
  cursor: pointer;
}
.increase__product:hover {
  box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
  background: #464541;
  cursor: pointer;
}
.price__product {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancel-icon {
  font-size: 26px;
  font-weight: 600;
}
.cancel-icon:hover {
  font-size: 30px;
  box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
  cursor: pointer;
}
.price-title {
  font-size: 24px;
  font-weight: 600;
  color: #464541;
  margin-left: 20px;
}
.price-subtotal{
    font-weight: 500;
   
}
.back__cart{
    font-size: 20px;
    font-weight: 500;
    color: #464541;
    margin-right: 10px;
    transition: .3s;
    cursor: pointer;
}
.back__cart:hover{
    font-size: 24px;
    font-weight: 600;
}
.details__bank{
    color: white;
    font-size: 50px;
}
.input__card__number{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color:white;

}
.input__card__date{
    color: white;
   
    outline: none;
  &__tt{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color:white;
    
  }
}
.input__increase{
  width:50px ;
  background-color: transparent;
  border: none;
  font-size: 20px;
 color: #868583;
 font-weight: 600;
 outline: none;
 transition: 0.3s;
}

