
.store{
background-color: #e3e3d8;
min-height: 100vh

}
.content-title{
 
    display: flex;
    justify-content: center;
   
    h1{
        margin-top: 10px;
        width: 40%;
        display: inline-block;
        background-color: #92879b;
        color: #f4edea;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 5px 20px 30px rgba(0,0,0,.2);
        margin: 30px 0;
    }
}
.content__box__product__item{
    padding-bottom: 50px;
    padding-top: 0;
}
.selectaz{
    background-color: #e9ecef;
    box-shadow: 5px 20px 30px rgba(0,0,0,.2);
    padding: 10px;
    color: #495057;
    border: 1px solid #f8f8f7;
    border-radius: 3px;
    outline: none;
    margin-bottom: 15px;
    margin-left: 57px;
}
.input__search__product{
    width: 50%;
    margin-left: 57px;
}
i.cartindex{
    font-size: 30px;
    font-weight: 500;
    margin-left: 150px;
    margin-top: 50px;
 
}