<div class="container">
  <h1 class="text-center text-info">Bài tập giỏ hàng</h1>
  <button class="btn btn-warning">Giỏ hàng</button>
  <app-product-list (onAddToCart)="handleAddToCart($event)"></app-product-list>

  <app-cart #cartComponent> </app-cart>
</div>
