
*{
    box-sizing: border-box;
}

/* /------------------------------------------- */
.tack{

        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        overflow: hidden;
        position: fixed;
        background-image: url(./img/1764.jpg);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    
}

.tack__content{
    background-color: #ffeedd;
    height: 800px;

    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
}
.tack__content__card{
    
    width: 400px;
    height: 700px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
   
   
  
  
}
.tack__content__card__item1{
    position: relative;
    width: 400px;
    height: 250px;
  
    background-image: url(./img/3382901.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}
.funnel__item{
    padding: 15px;
    background-color: #ff5d8f;
    border-radius: 50%;
    color: white;
    position: absolute;
    right: 20px;
    bottom: -15px;
    z-index: 999;
    cursor: pointer;
}
.funnel__item:hover{
    background-color: #56cfe1;
}
.custom-shape-divider-bottom-1598865342 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
   
}

.custom-shape-divider-bottom-1598865342 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
}

.custom-shape-divider-bottom-1598865342 .shape-fill {
    fill: #edf2fb;
}

.tack__content__card__item{
    width: 400px;
    height: 450px;
  
    background-color: #edf2fb;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 20px;    
    
    
}

.tack__content__card__item_input{
 
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-right: 30px;
}
.tack__content__card__item_input  input{
    flex-grow: 1;
    padding:10px 20px; 
    background-color: #ffa6c1; 
    border-radius: 5px;
    outline: none;
    border: none;
    padding-right: 50px;
    color: white ;
}
.tack__content__card__item_input i{
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #ff87ab;
    position: absolute;
    right: 0;
    color: #ff87ab;
    transition: all 0.5s;
    cursor: pointer;
    




    
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
.tack__content__card__item_input i:hover{
    background-color: eff7f6;
    color: #ff5d8f;
    border: 2px solid #ff5d8f ;
  
}

.tack__content__card__item__add{
    padding:10px 20px; 
    display: flex;
    justify-content:space-between ;
    align-items: center;
 
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #e2e2df;
    color: #9b9b7a;
}
.tack__content__card__item__add i{
    cursor: pointer;
}
.tack__content__card__item__add i:hover{
    color: #ff87ab;
}
hr{
    width: 50%;
    margin-top: 20px;
}

.tack__content__card__item__add__check{
    padding:10px 20px; 
    display: flex;
    justify-content:space-between ;
    align-items: center;
 
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #e2e2df;
    color: #56cfe1;
   

}
.tack__content__card__item__add__check i {
    cursor: pointer;
}
.tack__content__card__item__add__check i:nth-child(1):hover{
    color: #ff87ab;
}
.tack__content__card__item__add__check i:nth-child(2):hover{
    color: #ff87ab;
}
i.dont__check{
    color: #9b9b7a;
    margin-right: 5px;
}
