<div class="container">
  <h1 class="text-center text-info">Movie</h1>
  <app-add-movie (onAdd)="handleAdd($event)"></app-add-movie>
  <app-movie-list #movieListComponent [movieAdd]="movieAdd"></app-movie-list>
</div>
