.about{
    text-align: center;
    h1{
        @include Text($h2,textcolor('balck'),$fwMedium);
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: spacing(2) spacing(0);
        
        &__item{
            color:textcolor('gray');
          i{
            color:textcolor('balck');
            border: 1px solid bg('black');
            padding: 35px;
            border-radius: 50%;
            font-size: $h4;
            margin: spacing(2) spacing(0);
            transition: all 0.6s;
          
            &:hover{
                background-color: bg('secondary');
                color: bg('primary');
            }
          }
          
        }

      
    }
    &__us{
        color:textcolor('grey');
        margin-bottom: spacing(5);
        h1{
            color:textcolor('secondary');
            font-size: $h4;
            font-weight: $fwMedium;

        }
        
     }
}