.blog{
    margin: spacing(5) spacing(0);
   
    h1{
        text-align: center;
        @include Text($h2,textcolor('balck'),$fwMedium);
        margin: spacing(4);
        
    }
    &__content{
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__item{
            border-top: 5px solid bg('secondary');
            background-color:bg('lightgrey');
            margin: spacing(0) spacing(2);
           &__spacing{
               margin: spacing(2);
           }
            h5{
               
                @include Text($h6,textcolor('secondary'),$fwMedium);
                &:hover{
                    color: textcolor('balck');
                }
            }
            p{
               
                @include Text($subtitle3,textcolor('grey'),$fwRegular);
            }
            
            button{
               
                @include buttonBlog(textcolor('secondary'), bg('black'),1px solid bg('black'),$subtitle1);              
                padding: spacing(0.5) spacing(2);
                outline: none;
                &:hover{
                    color: textcolor('primary');
                }
            }
        }
    }

}