.carousel{
    position: relative;
    top: -40px;
    margin-top: 40px;
    

    &-item{
        img{
            margin: 0 auto;
        }
    }
    

    & ol.carousel-indicators  li{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        }
    &-caption{
       h5{
        @include Text($h1,textcolor('primary'),$fwMedium);
       }
       p{
        @include Text($h5,textcolor('primary'),$fwRegular);
       }
       margin-bottom: 15%;
    }
    
   

        
 
   

    }