.contact{
    margin-bottom: spacing(5);
    h1{
        @include Text($h2, textcolor("balck"), $fwMedium);
        text-align: center;
        margin: spacing(5) spacing(0);
    }
    &__content{
        display: flex;
        justify-content: center;
        &__item{
            &__input{
                margin-right: spacing(4);
               input{
                width: 400px;
                height: 40px;
                background-color: bg('lightgrey');
                outline: none;
                border: none;
                border-bottom:3px solid bg('grey');
                padding-left: spacing(1);
                margin-bottom: spacing(2.5);
               }
            }
            textarea{
                width: 400px;
                height: 180px;
                background-color: bg('lightgrey');
                outline: none;
                border: none;
                border-bottom:3px solid bg('grey');

            }
            button{
                margin-top: spacing(1);
                @include  buttonBlog(textcolor('primary'),bg('black'),1px solid bg('black'),$subtitle2);
                width: 400px;
                height: 40px;
                &:hover{
                    @include  buttonBlog(textcolor('balck'),bg('secondary'),1px solid bg('secondary'),$subtitle2);
                }
            }
        }
    }
}