.footer{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: spacing(1) spacing(0);
    background-color: bg('black');
    &__caption{
        margin-top: 20px;
        @include Text($subtitle3, textcolor("primary"), $fwRegular);
    }
    &__icon{
      i{
          
        @include Text($subtitle3,textcolor('primary'),$fwRegular);
        padding: spacing(0.5);
        border: 2px solid bg('primary');
        margin: spacing(0) spacing(1) spacing(1) spacing(1);
        &:hover{
            color: textcolor('grey');
        }
      }

    }
    &__arrou{
        
        position: fixed;
        bottom: 50px;
        right: 50px;
    }

   
}