.header{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);

 
   &__content{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:spacing(0.3) spacing(2);
   
    
   
   
   
    h1{
        @include Text($h2, bg('primary'), $fwRegular);
        span{
            color: bg('secondary');
        }
    }
    &__nav{
        a{
            @include Text($subtitle2, bg('primary'), $fwRegular);
            padding:spacing(1) spacing(2);
          
            border-bottom: 2px solid bg('primary');
            margin-left: spacing(2);
            text-decoration: none;

            &:hover{
                color: bg('secondary');
                border-bottom: none;
            }

        }
        
    }
   }
  
}