.portfolio{
  
    text-align: center;
    h1{
        margin: spacing(5) spacing(0);
        @include Text($h2,textcolor('balck'),$fwMedium);
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
       &__item{
           margin: spacing(1);
       }
       margin-bottom: spacing(5);
    }
}