.stats{
    background-color: bg('secondary');
    padding: spacing(5) spacing(0);
    h1{
        @include Text($h2,textcolor('balck'),$fwMedium);
        text-align: center;
    }

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
       &__item{
        margin: spacing(2) spacing(8);
        text-align: center;
        h1{
         @include   Text($h2,textcolor('primary'),$fwRegular);
        }
        p{
            @include   Text($h4,textcolor('balck'),$fwRegular);
        }
       }
    }
}
