.subscribe {
  background-color: bg("secondary");
  text-align: center;
  padding: spacing(5) spacing(0);

  .subscribe__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      @include Text($h2, textcolor("balck"), $fwMedium);
      margin-bottom: spacing(5);
    }
    p {
      @include Text($subtitle3, textcolor("primary"), $fwRegular);
        margin-bottom: spacing(2);
    }

    &__email {
      width: 600px;
      background-color: bg("primary");
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        border: none;
        outline: none;
        padding: spacing(1) spacing(1);
        flex-grow: 1;
        color: textcolor('balck');
      }
    
    }
    &__click{
        margin-top: spacing(5);
        button{
         
          @include buttonBlog(textcolor('primary'), bg('black'),1px solid bg('black'),$h5); 
          padding: spacing(0.5) spacing(5);
          
          &:hover{
            @include buttonBlog(textcolor('balck'), bg('primary'),1px solid bg('black'),$h5);  
          }    
                  
        }
    }
  }
}
