.team{
    text-align: center;
    margin-bottom: spacing(5);
    h1{
        @include Text($h2,textcolor('balck'),$fwMedium);
        margin: spacing(5) spacing(0);
        
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        &__item{
            margin: spacing(2);
            &__caption{
                background-color: bg('darkgrey');
                h5{
                    @include Text($h6,textcolor('secondary'),$fwMedium);
                    padding-top: spacing(2);
                    &:hover{
                        color: textcolor('primary');
                    }
                }
                p{
                    @include Text($subtitle3,textcolor('primary'),$fwRegular);
                }

                i{
                    @include Text($subtitle3,textcolor('primary'),$fwRegular);
                    padding: spacing(0.5);
                    border: 2px solid bg('primary');
                    margin: spacing(0) spacing(1) spacing(1) spacing(1);
                    &:hover{
                        background-color: bg('secondary');
                    }
                }
            }
        }
    }
}