.video{
    display: flex;
    &__play{
        width: 120%;
        flex-grow: 1;
        background-image:url(../../images/img4.jpg);
        background-repeat:no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: $h4;
            color: textcolor('primary');
            padding: spacing(2);
            background-color: bg('secondary');
            border-radius: 50%;
            cursor: pointer;
        }
    }
    &__content{
        flex-grow: 2;
       
        text-align: center;
        background-color: bg('secondary');
        h1{
            @include Text($h3,textcolor('balck'),$fwMedium);
            margin: spacing(5) spacing(0);
        }
        p{
            @include Text($subtitle2,textcolor('primary'),$fwRegular);
            margin: spacing(5) spacing(0);
            padding: spacing(0) spacing(5);
            
        }
        button{
            @include buttonBlog(textcolor('secondary'), bg('black'),1px solid bg('black'),$subtitle1);              
            padding: spacing(0.5) spacing(2);
            margin-bottom: spacing(5);
            outline: none;
            &:hover{
                color: textcolor('primary');
            }
        }
    }

}