<div *ngIf="validator.invalid && (validator.dirty || validator.touched)" class="alert alert-danger">
    <ng-container  *ngFor="let item of validator.errors |  keyvalue">
        <!-- item.key <=> required/email/minlength,maxlength ||item.value : true | false -->
        <span *ngIf="item.value">{{messages[name][item.key]}}</span>
    </ng-container>
</div>

<!-- 
    messages:{
        taiKhoan:{
            required:"Tài khoản được dể trống"
        }
    }
 -->