<div class="row my-5">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Thêm movie</div>
      <div class="card-body">
        <div class="form-group">
          <label>Tên Phim</label>
          <input
            type="text"
            class="form-control"
            placeholder="Tên Phim"
            #name
          />
        </div>
        <div class="form-group">
          <label>Giá</label>
          <input type="text" class="form-control" placeholder="Giá" #price />
        </div>

        <div class="form-group">
          <label>Hình ảnh</label>
          <input
            type="file"
            class="form-control-file"
            placeholder="Hình ảnh"
            #image
          />
        </div>
      </div>
      <div class="card-footer text-muted">
        <button
          class="btn btn-info"
          (click)="handleAdd(name.value, price.value, image.files[0])"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>
