*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header */
.header{
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    /* cachs canh giua vs position  */

    
}

.header .navbar{
    padding-top: 0;
    padding-bottom: 0;
}
.header__details .fa-phone{
    transform: rotate(90deg);
}

.header__details .header__phone::after{
    content: "";
    border-right: 1px dotted #ffffff;
}
.header__navbar ul {
    border-bottom: 1px solid #ffffff;
}
.header__navbar ul li{
  
}
.header__navbar ul li::after{
    content: '';
    width: 0;
    height: 2px;
    display: block;
   
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
    transition:all 0.4s;
    

}

.header__navbar ul li.active::after{
  width: 100%;

}

.header__navbar ul li:hover::after{
    width: 100%;

}


/* .header{
    text-align: right;
    color: #ffffff;
    background-color: rebeccapurple;
    margin-top: 25px;
} */

 .header__details > a{
    text-decoration: none;
    color: #ffffff;
    
}
/*
.header__details i:nth-child(1){
    padding: 0 5px;
}

.header__details i:nth-child(3){
    padding: 10px 20px;
    border-left: 1px dotted #ffffff;
    
} */



/* end header */

/* carousel */
.carousel .carousel-caption{
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    text-align: left;
}

.carousel ol.carousel-indicators  li{
height: 10px;
width: 10px;
border-radius: 50%;
}

/* end carousel */


/* newin */
.newin__img{
    position: relative;
    overflow: hidden;
}
.newin__img:hover .newin__overplay{
    transform: translateX(-30%) skewX(30deg);
    
    
}
.newin__overplay{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-image: linear-gradient(to bottom,#fbbd61,#ec7532);
    transform: translateX(-150%) skewX(30deg);
    transition: all .8s;
    opacity: 0.8;
    s
    
}
/* translateX(-30%) skewX(30deg) */
/* end newin */



/* reponsive */
@media screen and (max-width: 576;){
    .showtime img{
        width: 100%;
    }
    
}
/* end reponsive */