<div class="card mt-5">
  <img
    style="height: 400px"
    class="card-img-top"
    [src]="product.image"
    alt="mani"
  />
  <div class="card-body">
    <h4 class="card-title">{{ product.name }}</h4>
    <p class="card-text">{{ product.price }}</p>
    <button (click)="handleAddToCart()" class="btn btn-warning">
      Add to cart
    </button>
  </div>
</div>
