//Create theme
//backgroud_color
// $background:(
//     "primary":#ffffff,
//     "secondary":#00cdce,
//     "balck":#000000,
//     "yellow":#ffe799,
//     "light":#fbfbf8,
//     "gray":#989586,
// );

$background: (
  "primary": #ffffff,
  "secondary": #00cdce,
  "yellow": #ffe799,
  "light": #fbfbf8,
  "grey": #474747,
  "black":#000000,
  "lightgrey":#EFEFEF,
  "darkgrey":#363636,
);

$textColor:(
    "primary":#ffffff,
    "secondary":#00cdce,
    "balck":#000000,
    "gray":#7f7777,
    "grey": #474747,
    
);

// Fontsize

$h1: 60px;
$h2: 56px;
$h3: 42px;
$h4: 28px;
$h5: 24px;
$h6: 21px;
$subtitle1: 19px;
$subtitle2: 16px;
$subtitle3: 15px;
$body1: 14px;
$body2: 9px;


//Font weights
$fwBoll: 700;
$fwMedium: 500;
$fwRegular: 400;
$fwLight: 300;


// Spacing
$spacing: 10px;