* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", serif;
  box-sizing: border-box;
}

/* header */
.header {
  background-color: #4e2a84;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  align-items: center;

  /* Dùng flex cho thằng cha của nó */
  /* display: flex; */

  /* Vị trí chỉnh sửa theo chiều ngang dùng justify-content*/
  /* Sang phải thì giá trị là flex-end */
  /* Sang trái thì giá trị là flex-start */
  /* Chỉnh đều 2 đứa space-between */

  /* justify-content là chỉnh theo trục chính (mặc định là trục ngang) */
  /* justify-content: space-between; */

  /* Chỉnh các chữ bên trong div ở giữa */
  /* align-items là chỉnh theo trục phụ (mặc định ở đây là trục dọc) */
  /* align-items: center; */

  /* Điều chỉnh cách sắp xếp theo chiều mình chọn, khác chiều ngang  */
  /* flex-direction: column; hoặc row */

  /* Bắt buộc không cho flex không rớt xuống ta dùng */
  /* flex-wrap: nowrap; */
}
.header a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.header__logo {
  font-size: 37px;
  font-weight: 400;
  line-height: 44px;
  text-shadow: 10px 5px 3px #ffffff;
  /* giá tri đầu tiên chiêu đỏ bóng theo trai phải 10,thứ 2 là tren duoi,do nhuef,thuw4 là màu caurcasi bóng */
}
.header__navbar {
  display: flex;
}
/* .header__line{
  width: 0;
  height: 3px;
  background-color: #dd1f83;
  transition: 2s;
} */
.header__navbar a {
  font-size: 12px;
  font-weight: 600;
  padding: 0 15px;
  line-height: 18px;
  display: block;
}
.header__navbar a:hover {
  color: #dd1f83;
}

.header__navbar a:hover::after {
  width: 100%;
}
.header__navbar a.active {
  color: #dd1f83;
}

.header__navbar a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #dd1f83;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  /* transition-delay: 2s; */
  display: block;
}
/* end header */

/* carousel */
.carousel {
  background-image: url(../images/b3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  height: 750px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel h1 {
  font-size: 56px;
  font-weight: 600;
}
.carousel p {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  color: #cee0d7;
  margin: 20px 0 40px 0;
}
.carousel a {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 15px 35px;
  background-color: #dd1f83;
  border: 1px solid #ffffff;
  border-radius: 6px;
}
.carousel a:hover {
  background-color: #ffffff;
  border-color: #dd1f83;
  color: #000000;
  transition: ease-in 0.3s;
}
/* end carrousel */

/* intro */
.intro {
}
.intro__item {
  background-color: #4e2a84;
  color: #ffffff;

  text-align: center;
  display: flex;
  align-items: center;
}

.intro__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.intro__item img {
  width: 100%;
  display: block;
}
.intro__item__content {
  width: 100%;
}

.intro__item--1 {
  grid-column: 2 / span 2;
}

.intro__item--2 {
  grid-column: 1 / span 2;
}
.intro__item--3 {
  grid-column: 3 / span 2;
}

.intro__item__content {
}

/* end intro */

/* statistic */
.statistic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15%;
  height: 300px;
}
.statistic__item {
  text-align: center;
}
.statistic__item p {
  font-size: 32px;
  color: #4e2a84;
  font-weight: 600;
  margin-bottom: 40px;
}
.statistic__item span {
  font-size: 23px;
  font-weight: 700;
  color: #000000;
}
/* end statistic */

/* video */
.video {
  padding: 0 10%;
  margin-top: 50px;
}

.video__content {
  margin: 0 -10px;
  display: flex;
}

.video__content * {
  width: 50%;
  padding: 0 10px;
}
/* end video */

/* team */

.team {
  /* background-color: #4e2a84; */
  background-image: linear-gradient(
    to bottom,
    #ac80a0,
    #89aae6,
    #3685b5,
    #0471a6,
    #061826
  );
  padding: 50px 10%;
  margin-top: 50px;
}

.team > h1 {
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team__member {
  width: calc(100% / 3);

  padding: 0 15px;

  margin-bottom: 30px;
}
.team__member__content {
  position: relative;
  box-shadow: 3px 2px 3px #ffffff;
}

.team__member img {
  width: 100%;
}

.team__member__info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #dd1f83;
  color: #ffffff;
  padding: 25px 20px;
  width: 100%;
  z-index: 10;
}
.team__member__detail {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: center;
  opacity: 0;
  transition: ease-in 0.5s;

  /* display: none;
  visibility: hidden; */
}

.team__member__detail p:first-child {
  color: #ff0e83;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.team__member__detail span {
  color: #cabec2;
  font-size: 17px;
}
.team__member__detail p:nth-child(3) {
  font-size: 18px;
  margin-top: 10px;
  line-height: 30px;
}
.team__member__social i {
  border: 1px solid #ffffff;
  width: 40px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  margin-right: 10px;
  display: inline-block;
}
.team__member__social i:hover {
  color: #ff0e83;
  border-color: #ff0e83;
}

.team__member:hover .team__member__detail {
  opacity: 1;
}
.team__member:hover .team__member__info {
  display: none;
}
/* end team */

/* contact */
.contact {
}
.contact h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: #000000;
  margin: 50px 0;
}

.contact__form {
  padding: 0 15%;
}

.contact__form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  /* grid-column-gap: 20px;
  grid-row-gap: 20px; */
}
.contact__form textarea,
.contact__form__gender,
.contact__form__promotion,
.contact__form button {
  /* grid-column: n/span m; */
  /* n la vi tri bat dau
  m so cot ban muon no chiem la bao nhien */

  grid-column: 1 / span 2;
}

.contact__form input,
.contact__form textarea {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 3px;
}
.contact__form input::placeholder,
.contact__form textarea::placeholder {
  font-style: italic;
  font-size: 12px;
}
.contact__form button {
  background-color: #dd1f83;
  padding: 10px 0;
  border: none;
  border-radius: 3px;
  color: #000000;
  margin-bottom: 30px;
}
.contact__map {
  width: 100%;
  height: 350px;
  margin-top: 30px;
}
/* end contact */
