* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.cart {
  width: 100%;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e6b980), to(#eacda3));
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__content {
  background-color: #ffeedd;
  height: 800px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
          box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
}

.cart__content__product {
  min-height: 800px;
  background: #ecf0f1;
  color: #868583;
  position: relative;
}

.cart__content__product h1 {
  color: #464541;
}

.cart__content__product__item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart__content__product__item__cont {
  background-color: #e5e9ea;
  padding: 10px;
  margin-left: 20px;
  -webkit-box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
          box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
  -webkit-transition: .3s;
  transition: .3s;
}

.cart__content__product__item__cont:hover {
  background: #ced4da;
  color: #6c757d;
  cursor: pointer;
}

.cart__content__product__price {
  position: absolute;
  bottom: 100px;
  width: 80%;
  left: 50px;
}

.cart__content__Details {
  padding: 0;
  background-color: #4B4340;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5fr 1fr;
      grid-template-rows: 5fr 1fr;
  -webkit-box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
          box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
}

.cart__content__Details__content {
  width: 80%;
  margin: 0 100px;
}

.cart__content__Details__content__tittle {
  color: #F1C40F;
  margin: 100px 0;
}

.cart__content__Details__checkout {
  background-color: #F1C40F;
  -webkit-transition: .3s;
  transition: .3s;
}

.cart__content__Details__checkout:hover {
  background: #fcf300;
  color: #260701;
  cursor: pointer;
}

.input__them__bot {
  position: relative;
}

.increase__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  background: #868583;
  border-radius: 50%;
  color: white;
  margin: 0;
  position: absolute;
  top: -35px;
  left: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product__reduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  background: #868583;
  border-radius: 50%;
  color: white;
  margin: 0;
  position: absolute;
  top: 15px;
  left: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product__reduction:hover {
  -webkit-box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
          box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
  background: #464541;
  cursor: pointer;
}

.increase__product:hover {
  -webkit-box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
          box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
  background: #464541;
  cursor: pointer;
}

.price__product {
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cancel-icon {
  font-size: 26px;
  font-weight: 600;
}

.cancel-icon:hover {
  font-size: 30px;
  -webkit-box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
          box-shadow: 0 50px 91px rgba(0, 0, 0, 0.32);
  cursor: pointer;
}

.price-title {
  font-size: 24px;
  font-weight: 600;
  color: #464541;
  margin-left: 20px;
}

.price-subtotal {
  font-weight: 500;
}

.back__cart {
  font-size: 20px;
  font-weight: 500;
  color: #464541;
  margin-right: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.back__cart:hover {
  font-size: 24px;
  font-weight: 600;
}

.details__bank {
  color: white;
  font-size: 50px;
}

.input__card__number {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
}

.input__card__date {
  color: white;
  outline: none;
}

.input__card__date__tt {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
}

.input__increase {
  width: 50px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #868583;
  font-weight: 600;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=cart.css.map */