* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url(../../IMG/13811.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.curd__formvaliable {
  background-color: #e3e3d8;
  padding: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.crud__list__table {
  background-color: #e3e3d8;
  padding: 50px;
  border-radius: 20px;
  margin-top: 50px;
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.crud-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text__curd {
  color: #f4edea;
  text-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  width: 20%;
  background: #92879b;
  border-radius: 72% 45% 53% 47% / 18% 65% 15% 82%;
  padding: 20px;
}

.selectaz {
  background-color: #e9ecef;
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  padding: 5px;
  color: #495057;
  border: 1px solid #f8f8f7;
  border-radius: 3px;
  outline: none;
  margin-bottom: 10px;
}
/*# sourceMappingURL=crudd.css.map */