* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.content__box__product__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 30px;
  padding: 50px 0;
}

.card {
  margin-left: 50px;
  width: 300px;
  height: 400px;
  background: #f4f4f4;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: -webkit-box-shadow .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: -webkit-box-shadow .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: box-shadow .5s ease-in-out, transform .5s ease-in-out;
  transition: box-shadow .5s ease-in-out, transform .5s ease-in-out, -webkit-box-shadow .5s ease-in-out, -webkit-transform .5s ease-in-out;
  overflow: hidden;
}

.card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.imgBox {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.details {
  position: absolute;
  width: 100%;
  height: 50%;
  background: #f4f4f4be;
  padding: 10px 20px;
  bottom: -30%;
  -webkit-transition: .5s;
  transition: .5s;
}

.details:hover {
  bottom: 0;
}

.textContent {
  position: relative;
  margin-top: 10px;
  color: #555;
}

h3 {
  font-size: 20px;
  padding: 5px 0;
}

.price {
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 30px;
}

h4 {
  font-size: 18px;
  margin-top: 15px;
  padding: 10px 0;
  font-weight: bold;
  color: #555;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

ul li {
  list-style: none;
  width: 15px;
  height: 15px;
  margin: 5px;
  cursor: pointer;
}

ul li:nth-child(1) {
  background: #00f;
}

ul li:nth-child(2) {
  background: #f00;
}

ul li:nth-child(3) {
  background: #0ff;
}

ul li:nth-child(4) {
  background: #ff0;
}

ul li:nth-child(5) {
  background: #f0f;
}

button {
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
  background: #45b9e0;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: #5acef4;
}

.description {
  background: #92879b;
  position: absolute;
  width: 140px;
  height: 140px;
  top: -70px;
  right: -70px;
  border-radius: 0 0 200px 200px;
  -webkit-transition: all .5s, border-radius 1s, top 1s;
  transition: all .5s, border-radius 1s, top 1s;
}

.description .icon {
  position: absolute;
  top: 85px;
  right: 85px;
  color: #fff;
  opacity: 1;
}

.description:hover {
  width: 100%;
  height: 80%;
  right: 0;
  top: 0;
  border-radius: 0;
}

.description:hover .icon {
  opacity: 0;
}

.description .contents {
  color: #fff;
  padding: 5%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: opacity .2s, -webkit-transform .8s;
  transition: opacity .2s, -webkit-transform .8s;
  transition: opacity .2s, transform .8s;
  transition: opacity .2s, transform .8s, -webkit-transform .8s;
  opacity: 0;
}

.description:hover .contents {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.description h2 {
  margin: 20px 0;
  text-align: center;
}

.description P {
  font-size: 15px;
}

.store {
  background-color: #e3e3d8;
  min-height: 100vh;
}

.content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-title h1 {
  margin-top: 10px;
  width: 40%;
  display: inline-block;
  background-color: #92879b;
  color: #f4edea;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  margin: 30px 0;
}

.content__box__product__item {
  padding-bottom: 50px;
  padding-top: 0;
}

.selectaz {
  background-color: #e9ecef;
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #495057;
  border: 1px solid #f8f8f7;
  border-radius: 3px;
  outline: none;
  margin-bottom: 15px;
  margin-left: 57px;
}

.input__search__product {
  width: 50%;
  margin-left: 57px;
}

i.cartindex {
  font-size: 30px;
  font-weight: 500;
  margin-left: 150px;
  margin-top: 50px;
}
/*# sourceMappingURL=index.css.map */