* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  height: 80px;
  padding: 10px 0 10px 1;
}

.header__logo-img {
  width: 130px;
}

.header__nav-link {
  font-size: 14px;
  color: #3c3b37;
  font-weight: 400;
  text-decoration: none !important;
  margin: 10px 0 10px 1;
}

.header__nav-link:hover {
  color: #0f7c90;
}

.header__search {
  border: 1px solid #989586;
  border-radius: 50px;
  padding: 10px 0.5 10px 1;
  background-color: #fbfbf8;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search input {
  margin-left: 10px 1;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header .fa-shopping-cart {
  color: #3c3b37;
  padding-right: 10px 1;
}

.header .fa-shopping-cart:hover {
  color: #0f7c90;
  cursor: pointer;
}

.header__btn-login {
  background-color: #fbfbf8;
  border: 1px solid #0f7c90;
  border-radius: 3px;
  width: 100px;
  height: 40px;
  margin-right: 10px;
  font-size: 14px;
  color: #0f7c90;
  font-weight: 400;
}

.header__btn-signup {
  background-color: #0f7c90;
  border: 1px solid #0f7c90;
  border-radius: 3px;
  width: 100px;
  height: 40px;
  margin-right: 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}

.carousel .container {
  background-image: url("../images/cover.jpg");
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__content {
  background-color: #ffffff;
  padding: 20px;
  max-width: 400px;
  -webkit-box-shadow: 0 0px 4px 2px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0px 4px 2px rgba(255, 255, 255, 0.8);
}

.carousel__content h1 {
  font-size: 40px;
  color: #3c3b37;
  font-weight: 700;
}

.carousel__content p {
  font-size: 18px;
  color: #3c3b37;
  font-weight: 400;
}

.carousel__content__search {
  border: 1px solid #989586;
  border-radius: 3px;
  padding: 10px 0.5;
  background-color: #fbfbf8;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.carousel__content__search input {
  margin-left: 10px 1;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.carousel__content__search .fa-search {
  color: #989586;
}
/*# sourceMappingURL=index.css.map */