// carousel
.carousel{
  .container{
    background-image: url('../images/cover.jpg');
    height: 400px;
    // background-clip: content-box;
    display: flex;
    align-items: center;
  }

  &__content{
    background-color: bg('primary');
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 0px 4px 2px rgba(255,255,255,0.8);

    h1{
      @include Text($h2,$textPrimary ,$fwBoll);
    }

    p{
      @include Text($h5,$textPrimary ,$fwRegular);
    }
  
    &__search{
    border: 1px solid bg('gray');
    border-radius: 3px;
    padding: $spacing(0.5);
    background-color: bg('light');
    flex-grow: 1;
    display: flex;
    align-items: center;
    outline: none;
    
    input {
      margin-left:$spacing(1);
      border: none;
      outline: none;
      background-color: transparent;
      flex-grow: 1;
      
    }

    .fa-search{
      color: bg('gray');
      
    }

    }
  }

  
}

// end carousel
