// HEADER
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bg('primary');
    height: 80px;
    padding: $spacing(0) $spacing(1);
  
    &__logo-img {
      width: 130px;
    }
  
    &__nav-link {
      @include Text($subtitle1, $textPrimary, $fwRegular);
      text-decoration: none !important;
      margin: $spacing(0) $spacing(1);
  
      //paremt selecter
      &:hover {
        color: bg('secondary');
      }
    }
  
    &__search {
      border: 1px solid bg('gray');
      border-radius: 50px;
      padding: $spacing(0.5) $spacing(1);
      background-color: bg('light');
      flex-grow: 1;
      display: flex;
      align-items: center;
  
      input {
        margin-left:$spacing(1);
        border: none;
        outline: none;
        background-color: transparent;
        flex-grow: 1;
      }
    }
  
    .fa-shopping-cart {
      color: $textPrimary;
      padding-right: $spacing(1);
      &:hover {
        color: $textSecandary;
        cursor: pointer;
      }
    }
  
    &__btn-login {
      @include Button(bg('light'), 1px solid $textSecandary,3px,100px,40px);
      @include Text($subtitle1, $textSecandary, $fwRegular);
    }
  
    &__btn-signup {
      @include Button(bg('secondary'),1px solid bg('secondary') ,3px,100px,40px);
      @include Text($subtitle1, $textWhite, $fwRegular);  
    }
  }
  
  // end HEADER