<!-- ngClass -->
<!-- [class]="{key:value,ten-class:điều kiên}" -->
<button
  class="btn"
  [class]="{ 'btn-warning': isAcctive, 'btn-info': !isAcctive }"
>
  submir
</button>
<!-- className ={` btn ${isActive ?'btn-success' : 'btn-info'}`} -->

<!-- ngStyle -->
<!-- [ngStyle]="{style: expression}" -->
<!-- key:thuốc tinh css -->
<!-- value : giá trị -->
<!-- bgclor:Red -->
<!-- color:Red -->
<!-- => dùng cho bgimage -->
<div
  style="height: 300px; background-repeat: no-repeat"
  [style]="{ 'background-image': 'url(' + imgUrl + ')' }"
></div>

<!-- ngNonbindable -->
<p>{{ mesage }}</p>
<p ngNonBindable>{{ mesage }}</p>
<div [innerHtml]="data"></div>

<!-- tao một driectives -->
<div appHightlight>Hightlight</div>
