<div class="card">
  <div class="card-header">
    <ng-content select="[slot='header']"></ng-content>
  </div>
  <div class="card-body">
    <h4 class="card-title">
      <ng-content select="[slot='card-title']"></ng-content>
    </h4>
    <p class="card-text">
      <ng-content select="[slot='card-text']"></ng-content>
    </p>
  </div>
  <div class="card-footer text-muted">
    <ng-content select="[slot='footer']"></ng-content>
  </div>
</div>
