<div class="card mt-5">
  <img
    style="height: 400px"
    class="card-img-top"
    [src]="movie.image"
    alt="mani"
  />
  <div class="card-body">
    <h4 class="card-title">{{ movie.name }}</h4>
    <p class="card-text">{{ movie.price }}</p>
    <button (click)="handleDelete()" class="btn btn-warning">Delete</button>
  </div>
</div>
