.model {
  height: 250px;
}
.glass__item {
  height: 50px;
  width: 100px;
  /* background-color: red; */
  position: absolute;
  left: 52px;
  top: 68px;
}
.glass__item img {
  width: 100%;
}
.glass__content {
  background-color: rgba(242, 166, 94, 0.3);
  width: 103%;
  position: absolute;
  bottom: 0;
}
.glass__content p {
  font-size: 12px;
}
.glass__content h6 {
  font-size: 14px;
  color: palevioletred;
}
