.demo {
  color: aqua;
}
.wrapper {
  display: flex;
  height: 300px;
  background-color: yellow;
  text-align: center;
}
.content {
  width: 70%;
  background-color: blue;
  color: white;
}
.sidebar {
  width: 30%;
  background-color: pink;
  color: white;
}
