<!-- <h1 class="demo">Hello Angular</h1>
<app-demo></app-demo> -->
<!-- <app-header></app-header>
<div class="wrapper">
  <app-content class="content"></app-content>
  <app-sidebar class="sidebar"></app-sidebar>
</div>
<app-footer></app-footer> -->
<!-- <app-baitap2></app-baitap2> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-structuraldiretives></app-structuraldiretives>
<app-attribute-directives></app-attribute-directives> -->
<!-- <app-movie></app-movie> -->
<!-- <app-product></app-product> -->
<!-- <app-bai-tap-dat-ghe></app-bai-tap-dat-ghe> -->
<!-- //router-outlet vi tri đặt componet con của nó -->
<router-outlet>

</router-outlet>
