<h1 class="text-center text-info">Signup</h1>
<!-- taikhoan,matkhau,email,hoten,sdt -->
<form #signupForm="ngForm" (ngSubmit)="handleSignUp(signupForm.value)">
  <!-- taikhoan -->
  <!-- ngModule đứng một mình layas giá trị của input
      #taiKhoan="ngModel" -> lấy trang thái validation gnas vào biến tài khoản
-->
  <div class="form-group">
    <label for="taiKhoan">Tài khoản</label>
    <input
      name="taiKhoan"
      ngModel
      required
      #taiKhoan="ngModel"
      type="text"
      id="taiKhoan"
      class="form-control"
    />
    <div
      *ngIf="taiKhoan.invalid && (taiKhoan.touched || taiKhoan.dirty)"
      class="alert alert-danger"
    >
      <span *ngIf="taiKhoan.errors.required"
        >Tài Khoản không được để trống</span
      >
    </div>
  </div>

  <!-- matkhau -->
  <div class="form-group">
    <label for="matKhau">Mật Khẩu</label>
    <input
      name="matKhau"
      ngModel
      #matKhau="ngModel"
      required
      minlength="3"
      maxlength="20"
      type="password"
      id="matKhau"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="matKhau.invalid && (matKhau.touched || matKhau.dirty)"
    >
      <span *ngIf="matKhau.errors.required">Mật khẩu không được để trống</span>
      <span *ngIf="matKhau.errors.minlength || matKhau.errors.maxlength">
        Mật khẩu phaair từ 3 ki tự đến 20 kí tự
      </span>
    </div>
  </div>
  <!-- email -->
  <div class="form-group">
    <label for="email">Email</label>
    <input
      name="email"
      ngModel
      required
      #email="ngModel"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      type="email"
      id="email"
      class="form-control"
    />
    <div class="alert alert-danger"  *ngIf="email.invalid && (email.touched || email.dirty)">
        <span *ngIf="email.errors.required">Email không được để trống</span>
        <span *ngIf="email.errors.pattern">Email không đúng định dạng</span>
    </div>
  </div>
  <!-- Hoten -->
  <div class="form-group">
    <label for="hoTen" >Họ Tên</label>
    <input name="hoTen" ngModel required #hoTen="ngModel" type="text" id="hoTen" class="form-control" />
    <div class="alert alert-danger"  *ngIf="hoTen.invalid && (hoTen.touched || hoTen.dirty)">
        <span *ngIf="hoTen.errors.required">Họ tên không được để trống</span>
   
    </div>
  </div>
  <!-- sdt -->
  <div class="form-group">
    <label for="soDt">SĐT</label>
    <input name="soDt" ngModel required #soDt="ngModel"  type="tel" id="soDt" class="form-control" />
    <div class="alert alert-danger"  *ngIf="soDt.invalid && (soDt.touched || soDt.dirty)">
        <span *ngIf="soDt.errors.required">Số điện thoại không được để trống</span>
    
    </div>
  </div>

  <button [disabled]="signupForm.invalid" class="btn btn-success">Đăng ký</button>
</form>
<!-- 
    {
        taiKhoan:""
    }
 -->
