<p>structuraldiretives works!</p>
<!-- NgIf -->
<!-- ẩn hiên 1 tag or 1 component  theo diều keien -->
<h1 *ngIf="isActive">CyberSoft</h1>
<button (click)="isActive = !isActive">togoler</button>

<!-- đã đăng nhập -->
<div *ngIf="isLoggedIn; else loginTempale">
  <h1>wheel come</h1>
  <button (click)="isLoggedIn = false">Đăng xuất</button>
</div>

<!-- chưa đăng nhập -->
<!-- <div *ngIf="!isLoggedIn">
  <h1>Login</h1>
  <button (click)="isLoggedIn = true">Login</button>
</div> -->

<!-- những j năm trong tag ng-teamplate k dc render ra giao diên nó chỉ đc render khi mình gọi nó -->
<ng-template #loginTempale>
  <!-- chưa đăng nhập -->
  <div>
    <h1>Login</h1>
    <button (click)="isLoggedIn = true">Login</button>
  </div>
</ng-template>

<!-- ngSwitch cũng là ẩn hiên mottj tag or 1 componet theo nhiều điều kiên -->
<div [ngSwitch]="color">
  <!-- chiren dẻ  ra 1 thẻ p có case : red -->
  <!-- *ngSwitchCase tự đông nhân red là valiable -->
  <!-- *ngSwitchCase ="'red'" tự đông nhân red là chuổi -->
  <p style="color: red" *ngSwitchCase="'red'">red</p>
  <p style="color: blue" *ngSwitchCase="'blue'">blue</p>
  <p style="color: yellow" *ngSwitchCase="'yellow'">yellow</p>
  <p style="color: pink" *ngSwitchCase="'pink'">pink</p>
  <p *ngSwitchDefault>Default</p>
</div>

<select [value]="color" (change)="color = $event.target.value">
  <option value="">Defaul</option>
  <option value="red">red</option>
  <option value="blue">blue</option>
  <option value="yellow">yellow</option>
  <option value="pink">pink</option>
</select>

<!-- ngFor: duyêt mảng trong file html -->
<!-- index,count :angular cung câp -->
<!-- k thể có 2 structural drictives trên cùng 1 tag -->
<!-- ng-container : tương dương react.Fragment, thẻ này k hiển thi ra giao diên -->
<div class="d-flex">
  <ng-container *ngIf="dshv">
    <p *ngFor="let hv of dshv; let idx = index; count as total">
      {{ idx + 1 }}/{{ total }} : {{ hv.hoten }} - {{ hv.lop }}
    </p>
  </ng-container>
</div>
<!-- kết hơp ng-container  vs ng-template-->

<ng-template #alertTemplate>
  <div class="alert alert-danger" role="alert">
    <strong>primary</strong>
  </div>
</ng-template>
<ng-container *ngTemplateOutlet="alertTemplate"></ng-container>
<ng-container *ngTemplateOutlet="alertTemplate"></ng-container>
<ng-container *ngTemplateOutlet="alertTemplate"></ng-container>
<ng-container *ngTemplateOutlet="alertTemplate"></ng-container>

<!-- ng-Content -->
<app-button>
  <!--Nhũng tag  năm trong app button  là content -->
  <span>OK</span>
</app-button>
<app-button>
  <span>alo</span>
</app-button>

<app-cart>
  <div slot="header">Xin chào</div>
  <h4 slot="card-title">Manh</h4>
  <p slot="card-text">sadasdsda</p>
  <div slot="footer">ádas</div>
</app-cart>

<div class="container">
  <div class="row">
    <div *ngFor="let hv of dshv; let idx = index" class="col-sm-3">
      <app-cart>
        <div slot="header">{{ hv.hoten }}</div>
        <h4 slot="card-title">{{ hv.hoten }}</h4>
        <p slot="card-text">{{ hv.lop }}</p>

        <button slot="footer" class="btn btn-info">
          Chi tiêt :{{ idx + 1 }}
        </button>
      </app-cart>
    </div>
  </div>
</div>
