<div class="container">
    <div class="row">
        <div class="col-4 mt-5 " *ngFor="let movie of movieList">
            <div class="card">
                <img style="height: 400px;" class="card-img-top" [src]="movie.hinhAnh" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{ movie.tenPhim }}</h4>
                    <p class="card-text">{{ movie.ngayKhoiChieu }}</p>
                    <!-- params -->
                    <button class="btn btn-info " routerLink="/home/{{movie.maPhim}}">Chi Tieets</button>
                    <!-- query params -->
                    <button class="btn btn-info " routerLink="/home" [queryParams] ="{maPhim:movie.maPhim,tenPhim:movie.tenPhim}">Chi Tieets</button>
                </div>
            </div>
        </div>
    </div>
</div>